In [3]:
import numpy as np
import pandas as pd

In [2]:
values =pd.Series(['apple','orange','apple','apple']*2)

In [3]:
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [4]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [5]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

In [6]:
values=pd.Series([0,1,0,0]*2)

In [7]:
dim=pd.Series(['apple','orange'])

In [8]:
values

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [9]:
dim

0     apple
1    orange
dtype: object

In [11]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

In [12]:
## Categorical Type in Pandas

In [13]:
fruits=['apple','orange','apple','apple']*2

In [14]:
fruits

['apple', 'orange', 'apple', 'apple', 'apple', 'orange', 'apple', 'apple']

In [15]:
N=len(fruits)

In [16]:
N

8

In [19]:
df=pd.DataFrame({'fruit':fruits,'basket_id':np.arange(N),'count':np.random.randint(3,15,size=N),
               'weight':np.random.uniform(0,4,size=N)},columns=['basket_id','fruit','count','weight'])

In [20]:
df

   basket_id   fruit  count    weight
0          0   apple     14  3.729041
1          1  orange      8  3.643292
2          2   apple      4  1.738728
3          3   apple      9  2.420680
4          4   apple     14  1.411293
5          5  orange      8  0.425596
6          6   apple     11  2.296570
7          7   apple      5  2.878589

In [21]:
fruit_cat=df['fruit'].astype('category')

In [22]:
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [23]:
c=fruit_cat.values

In [24]:
c

[apple, orange, apple, apple, apple, orange, apple, apple]
Categories (2, object): [apple, orange]

In [25]:
type(c)

pandas.core.arrays.categorical.Categorical

In [26]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [27]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [28]:
df['fruit']=df['fruit'].astype('category')

In [29]:
df.fruit

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [31]:
#Categorical Methods

In [32]:
s=pd.Series(['a','b','c','d']*2)

In [33]:
s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: object

In [34]:
cat_s=s.astype('category')

In [35]:
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]

In [36]:
cat_s.cat.codes

0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8

In [38]:
cat_s.cat.categories

Index(['a', 'b', 'c', 'd'], dtype='object')

In [39]:
actual_categories=['a','b','c','d','e']

In [40]:
cat_s2=cat_s.cat.set_categories(actual_categories)

In [41]:
cat_s2

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (5, object): [a, b, c, d, e]

In [42]:
cat_s.value_counts()

d    2
c    2
b    2
a    2
dtype: int64

In [43]:
cat_s2.value_counts()

d    2
c    2
b    2
a    2
e    0
dtype: int64

In [45]:
cat_s3=cat_s[cat_s.isin(['a','b'])]

In [46]:
cat_s3

0    a
1    b
4    a
5    b
dtype: category
Categories (4, object): [a, b, c, d]

In [49]:
##Creating dummy variables for modeling

In [50]:
a=pd.Series(['a','b','c','d']*2,dtype='category')

In [51]:
pd.get_dummies(a)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1

In [52]:
##aAdvanced Groupby Use

In [4]:
df=pd.DataFrame({'key':['a','b','c']*4,'value':np.arange(12)})

In [5]:
df

   key  value
0    a      0
1    b      1
2    c      2
3    a      3
4    b      4
5    c      5
6    a      6
7    b      7
8    c      8
9    a      9
10   b     10
11   c     11

In [6]:
g=df.groupby('key').value

In [8]:
g.mean()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [9]:
g.transform('mean')

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [10]:
g.transform(lambda x:x.mean())

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [11]:
g.transform(lambda x:x*2)

0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
11    22
Name: value, dtype: int32

In [12]:
g.transform(lambda x:x.rank(ascending=True))

0     1
1     1
2     1
3     2
4     2
5     2
6     3
7     3
8     3
9     4
10    4
11    4
Name: value, dtype: int32

In [13]:
g.transform(lambda x:x.rank(ascending=False))

0     4
1     4
2     4
3     3
4     3
5     3
6     2
7     2
8     2
9     1
10    1
11    1
Name: value, dtype: int32

In [14]:
def normalize(x):
    return(x-x.mean()/x.std())

In [15]:
g.transform(normalize)

0    -1.161895
1    -0.420094
2     0.321707
3     1.838105
4     2.579906
5     3.321707
6     4.838105
7     5.579906
8     6.321707
9     7.838105
10    8.579906
11    9.321707
Name: value, dtype: float64

In [16]:
g.apply(normalize)

0    -1.161895
1    -0.420094
2     0.321707
3     1.838105
4     2.579906
5     3.321707
6     4.838105
7     5.579906
8     6.321707
9     7.838105
10    8.579906
11    9.321707
Name: value, dtype: float64

In [17]:
g.transform('mean')

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [18]:
normalized=(df['value']-g.transform('mean'))/g.transform('std')

In [19]:
normalized

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64