In [1]:
i=10
if i<5 & i==10:
    print("This is valid statement")
elif i<8 :
    print("The valid statement in  elif")
else:
    print("This will give me default statement")

This will give me default statement

In [3]:
i=10
r='Rohith'

if i==10:
    if type(r)==int:
        print("This is my name")
    else:
        print("Its default condition")
else :
    print("this is default dtatemnt for outer if block ")

Its default condition

In [4]:
l=[3,4,4,5,6,"rohith","kumar","xyz"]
l

[3, 4, 4, 5, 6, 'rohith', 'kumar', 'xyz']

In [5]:
l[::2]

[3, 4, 6, 'kumar']

In [6]:
l

[3, 4, 4, 5, 6, 'rohith', 'kumar', 'xyz']

In [10]:
m=[]
for num in l:
    if type(num)==int:
        m.append(num/10)
print(m)

[0.3, 0.4, 0.4, 0.5, 0.6]

In [19]:
b=[]
for i in l:
    if type(i)==int:
        i=i+i
        print(i)

6
8
8
10
12

In [21]:
x = [1,2,3,4,6,'ashu','hello','hii']
sum=0
for num in x:
    if type(num)==int:
        sum=sum+num
print(sum)

16

In [22]:
for i in "Rohith":
    print(i)

R
o
h
i
t
h

In [23]:
l=[1,2,3,4,5,6,7,8,9]
for i in l:
    if i == 6:
        break
    print(i)
else:
    print("this is the for else block")

1
2
3
4
5

In [25]:
i="Rohith Bangalore"
for var in i:
    if var=='a':
        break
    print(var)

R
o
h
i
t
h

B

In [26]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [27]:
list(range(4,9,2.0))

TypeError: 'float' object cannot be interpreted as an integer

In [29]:
l=[1,2,3,4,5,'rohith','MS','UK','Bangalore']

In [30]:
l

[1, 2, 3, 4, 5, 'rohith', 'MS', 'UK', 'Bangalore']

In [32]:
for i in range(len(l)):
    print(l[i])

1
2
3
4
5
rohith
MS
UK
Bangalore

In [33]:
input()

234

'234'

In [34]:
a=input("My age is ")

My age is 30

In [35]:
type(a)

str

In [37]:
type(input())

'Rohith'

str

In [40]:
"Rohith"+str(30)

'Rohith30'

In [41]:
l=[1,2,3,4]

In [42]:
l1=[4,5,6,7]

In [43]:
l+l1

[1, 2, 3, 4, 4, 5, 6, 7]

In [44]:
"Rohith'N'"

"Rohith'N'"

In [45]:
'''SCFSdg
SGFDS
FG
Gdsg'''

'SCFSdg\nSGFDS\nFG\nGdsg'

In [47]:
s="hello world"

In [48]:
s.upper()

'HELLO WORLD'

In [49]:
s.lower()

'hello world'

In [50]:
s.split('o')

['hell', ' w', 'rld']

In [51]:
"My name is {} , my age is {}".format("Rohith",30)

'My name is Rohith , my age is 30'

In [52]:
s="hello world"

In [55]:
s.find('l')

2

In [57]:
str="hello world"
range(len(str))

range(0, 11)

In [65]:
str='hello world'
s=[]
s1=[]
for i in range(len(str)):
    if str[i]=='o':
        s.append(i)
        s1.append(str[i])
print(s,s1,sep='\n')

[4, 7]
['o', 'o']

In [66]:
n='Rohit'

In [69]:
n.center(40,'v')

'vvvvvvvvvvvvvvvvvRohitvvvvvvvvvvvvvvvvvv'

In [70]:
'hello\tworld'.expandtabs()

'hello   world'

In [75]:
y="HEllow"

In [76]:
y.istitle()

False

In [77]:
y.isalpha()

True

In [78]:
y.islower()

False

In [79]:
y.isupper()

False

In [80]:
y.isspace()

False

In [81]:
"Rohith"*3

'RohithRohithRohith'

In [83]:
l

[1, 2, 3, 4]

In [84]:
l1=[1,2,3,4,'Rohith','UK']

In [85]:
l1.insert(2,'Bangalore')

In [86]:
l1

[1, 2, 'Bangalore', 3, 4, 'Rohith', 'UK']

In [88]:
l1.pop()

'UK'

In [89]:
l1

[1, 2, 'Bangalore', 3, 4, 'Rohith']

In [90]:
l1[::-1]

['Rohith', 4, 3, 'Bangalore', 2, 1]

In [91]:
l1.reverse()

In [92]:
l1

['Rohith', 4, 3, 'Bangalore', 2, 1]

In [93]:
r=[1,2,3,3,2,3,2,1,3,4]

In [94]:
r.sort()

In [95]:
r

[1, 1, 2, 2, 2, 3, 3, 3, 3, 4]

In [96]:
k=['Rohith','Bangalore']

In [97]:
k.sort()

In [98]:
k

['Bangalore', 'Rohith']

In [99]:
a=[1,2,3]

In [100]:
a[2]="Parrot"

In [101]:
a

[1, 2, 'Parrot']

In [102]:
l1=[1,2]
l2=[2,3]
l3=[2,5]

In [103]:
l=[l1,l2,l3]

In [108]:
l

[[1, 2], [2, 3], [2, 5]]

In [112]:
[i[1] for i in l]

[2, 3, 5]

In [113]:
n

'Rohit'

In [114]:
l = [4,5,6,6]

In [115]:
l.append([3,4,5])

In [120]:
l

[4, 5, 6, 6, [3, 4, 5], 3, 4, 5, 4, 5, 6]

In [121]:
l.extend([4,5,6])

In [122]:
l

[4, 5, 6, 6, [3, 4, 5], 3, 4, 5, 4, 5, 6, 4, 5, 6]

In [123]:
l = [5,6,7,2,8,5,6,4,6,5,6,7,8,2]
l=[i for i in l if i!=2]

In [124]:
l

[5, 6, 7, 8, 5, 6, 4, 6, 5, 6, 7, 8]

In [128]:
l = [5,6,7,2,8,5,6,4,6,5,6,7,8,2]
m=[]
for i in l:
    if i!= 2:
        m.append(i)
print(m)

[5, 6, 7, 8, 5, 6, 4, 6, 5, 6, 7, 8]

In [129]:
l=[2,2,22,2,22,5,4,5,5,7]

In [133]:
while 2 in l:
    l.remove(2)
print(l)

[22, 22, 5, 4, 5, 5, 7]