In [1]:
## Hierarchical Indexing

In [3]:
import numpy as np

In [9]:
data=pd.Series(np.random.randn(9),index=[['a','a','a','b','b','c','c','d','d'],[1,2,3,1,3,1,2,2,3]])

In [10]:
data

a  1    1.662787
   2   -0.823151
   3   -0.035447
b  1   -0.214384
   3   -0.985915
c  1    0.153037
   2    0.317055
d  2   -0.239207
   3   -0.058064
dtype: float64

In [11]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [12]:
data['b']

1   -0.214384
3   -0.985915
dtype: float64

In [13]:
data['b':'c']

b  1   -0.214384
   3   -0.985915
c  1    0.153037
   2    0.317055
dtype: float64

In [14]:
data.loc[['b','d']]

b  1   -0.214384
   3   -0.985915
d  2   -0.239207
   3   -0.058064
dtype: float64

In [15]:
data.loc[:,2]

a   -0.823151
c    0.317055
d   -0.239207
dtype: float64

In [16]:
data.unstack()

          1         2         3
a  1.662787 -0.823151 -0.035447
b -0.214384       NaN -0.985915
c  0.153037  0.317055       NaN
d       NaN -0.239207 -0.058064

In [22]:
frame=pd.DataFrame(np.arange(12).reshape((4,3)),index=[['a','a','b','b'],[1,2,1,2]],columns=[['Ohio','Ohio','Colorado'],['Green','Red','Green']])

In [23]:
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [24]:
frame.index.names=['key1','key2']

In [25]:
frame.columns.names=['state','color']

In [26]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [27]:
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [28]:
frame.sum(level='key2')

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

In [29]:
frame.sum(level='color',axis=1)

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

In [40]:
## Combining and Merging Data sets:

In [41]:
df1=pd.DataFrame({'key':['b','b','a','c','a','a','b'],'data1':range(7)})

In [42]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [43]:
df2=pd.DataFrame({'key':['a','b','d'],'data2':range(3)})

In [44]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [45]:
pd.merge(df1,df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [46]:
pd.merge(df1,df2,on='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [47]:
df3=pd.DataFrame({'lkey':['b','b','a','c','a','a','b'],'data1':range(7)})

In [48]:
df3

  lkey  data1
0    b      0
1    b      1
2    a      2
3    c      3
4    a      4
5    a      5
6    b      6

In [49]:
df4=pd.DataFrame({'rkey':['a','b','d'],'data2':range(3)})

In [50]:
df4

  rkey  data2
0    a      0
1    b      1
2    d      2

In [51]:
pd.merge(df3,df4,left_on='lkey',right_on='rkey')

  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0

In [52]:
pd.merge(df1,df2,how='outer')

  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0

In [55]:
df1=pd.DataFrame({'key':['b','b','a','c','a','b'],'data1':range(6)})

In [56]:
df2=pd.DataFrame({'key':['a','b','a','b','d'],'data2':range(5)})

In [57]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [58]:
df2

  key  data2
0   a      0
1   b      1
2   a      2
3   b      3
4   d      4

In [59]:
pd.merge(df1,df2,on='key',how='outer')

   key  data1  data2
0    b    0.0    1.0
1    b    0.0    3.0
2    b    1.0    1.0
3    b    1.0    3.0
4    b    5.0    1.0
5    b    5.0    3.0
6    a    2.0    0.0
7    a    2.0    2.0
8    a    4.0    0.0
9    a    4.0    2.0
10   c    3.0    NaN
11   d    NaN    4.0

In [60]:
pd.merge(df1,df2,on='key',how='left')

   key  data1  data2
0    b      0    1.0
1    b      0    3.0
2    b      1    1.0
3    b      1    3.0
4    a      2    0.0
5    a      2    2.0
6    c      3    NaN
7    a      4    0.0
8    a      4    2.0
9    b      5    1.0
10   b      5    3.0

In [61]:
pd.merge(df1,df2,on='key',how='inner')

  key  data1  data2
0   b      0      1
1   b      0      3
2   b      1      1
3   b      1      3
4   b      5      1
5   b      5      3
6   a      2      0
7   a      2      2
8   a      4      0
9   a      4      2

In [62]:
left=pd.DataFrame({'key1':['foo','foo','bar'],'key2':['one','two','one'],'lval':[1,2,3]})

In [63]:
right=pd.DataFrame({'key1':['foo','foo','bar','bar'],'key2':['one','one','one','two'],'rval':[4,5,6,7]})

In [64]:
left

  key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3

In [65]:
right

  key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7

In [66]:
pd.merge(left,right,on=['key1','key2'],how='outer')

  key1 key2  lval  rval
0  foo  one   1.0   4.0
1  foo  one   1.0   5.0
2  foo  two   2.0   NaN
3  bar  one   3.0   6.0
4  bar  two   NaN   7.0

In [67]:
pd.merge(left,right,on='key1')

  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    one     1    one     5
2  foo    two     2    one     4
3  foo    two     2    one     5
4  bar    one     3    one     6
5  bar    one     3    two     7

In [68]:
pd.merge(left,right,on='key1',suffixes=('_left','_right'))

  key1 key2_left  lval key2_right  rval
0  foo       one     1        one     4
1  foo       one     1        one     5
2  foo       two     2        one     4
3  foo       two     2        one     5
4  bar       one     3        one     6
5  bar       one     3        two     7

In [1]:
# Merging on Index

In [2]:
left1=pd.DataFrame({'key':['a','b','a','a','b','c'],'value':range(6)})

In [3]:
right1=pd.DataFrame({'group_val':[3.5,7]},index=['a','b'])

In [4]:
left1

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5

In [5]:
right1

   group_val
a        3.5
b        7.0

In [6]:
pd.merge(left1,right1,left_on='key',right_index=True)

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0

In [7]:
pd.merge(left1,right1,left_on='key',right_index=True,how='outer')

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0
5   c      5        NaN