In [1]:
 # Basics of Python

In [2]:
1+1

2

In [3]:
4*5

20

In [4]:
2/10

0.2

In [5]:
10/2

5.0

In [6]:
10%2

0

In [7]:
10**2

100

In [8]:
## How to check the data type

In [9]:
type(True)

bool

In [10]:
type("Hello")

str

In [11]:
##Strings

In [12]:
"Hello"

'Hello'

In [13]:
'Rohith Neelagiriyappa'

'Rohith Neelagiriyappa'

In [14]:
type('Rohith Neelagiriyappa')

str

In [15]:
## Variable Assignment

In [17]:
# syntax
#var_name=values

In [18]:
a=10

In [19]:
type(a)

int

In [20]:
a='London'

In [21]:
type(a)

str

In [22]:
## Mathematical operation with Variable Assigment

In [23]:
a=10
b=20

In [24]:
print(a*b)

200

In [25]:
print(a/b)

0.5

In [27]:
print(a%b)

10

In [28]:
print((a*b)+(a/b))

200.5

In [29]:
#Various ways of printing

In [30]:
print("Hello")

Hello

In [31]:
first_name='Rohith'
last_name='Neelagiriyappa'

In [33]:
print("My first name is {} and my last name is {}".format(first_name,last_name))

My first name is Rohith and my last name is Neelagiriyappa

In [34]:
print("My First name is {first} and last name is {last}".format(last=last_name,first=first_name))

My First name is Rohith and last name is Neelagiriyappa

In [35]:
len(last_name)

14

In [36]:
len(first_name)

6

In [37]:
type([1,'200','UK'])

list

## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [39]:
False

False

In [40]:
print(True,False)

True False

In [41]:
type(True)

bool

In [42]:
type(False)

bool

In [43]:
my_str='Rohith'

In [44]:
my_str.istitle()

True

In [46]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('r')) #test if string endswith a d
print(my_str.startswith('R')) #test if string startswith H

True
True
False
True
False
False
False
False
True

In [47]:
## Boolean and Logical Operators

In [49]:
True and True

True

In [50]:
True and False

False

In [51]:
True or False

True

In [52]:
True or True

True

In [57]:
a='Hello_world'

In [58]:
b='Rohith'

In [60]:
b.isalpha() or a.isnum()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [61]:
type([])

list

In [62]:
last_example=[]

In [63]:
type(last_example)

list

In [65]:
lst=list()

In [66]:
type(lst)

list

In [67]:
lst=['Mathematics','Biology',1,2,3,4,5]

In [68]:
len(lst)

7

In [69]:
type(lst)

list

In [71]:
## Append - it is used to add elements in the list

In [72]:
lst

['Mathematics', 'Biology', 1, 2, 3, 4, 5]

In [73]:
lst.append('Canada')

In [74]:
lst

['Mathematics', 'Biology', 1, 2, 3, 4, 5, 'Canada']

In [75]:
lst.append(['Bella','John'])

In [76]:
lst

['Mathematics', 'Biology', 1, 2, 3, 4, 5, 'Canada', ['Bella', 'John']]

In [77]:
#Indexing in list

In [78]:
lst[6]

5

In [79]:
lst[1:6]

['Biology', 1, 2, 3, 4]

In [80]:
## Insert - In a specific order

In [81]:
lst.insert(1,'Karnataka')

In [82]:
lst

['Mathematics',
 'Karnataka',
 'Biology',
 1,
 2,
 3,
 4,
 5,
 'Canada',
 ['Bella', 'John']]

In [84]:
lst.append(['Hello','world'])

In [85]:
lst

['Mathematics',
 'Karnataka',
 'Biology',
 1,
 2,
 3,
 4,
 5,
 'Canada',
 ['Bella', 'John'],
 ['Hello', 'world']]

In [86]:
lst=[1,2,3]

In [87]:
lst.append([4,5])

In [88]:
lst

[1, 2, 3, [4, 5]]

In [89]:
## Extend method

In [90]:
lst=[1,2,3,4,5,6]

In [92]:
lst.extend([7,8])

In [93]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [95]:
### Various Operations that we can perform in List

In [96]:
lst=[1,2,3]

In [97]:
sum(lst)

6

In [98]:
lst*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [99]:
## pop() method

In [100]:
lst

[1, 2, 3]

In [101]:
lst.pop()

3

In [102]:
lst

[1, 2]

In [103]:
lst=[1,2,3,4,5]

In [104]:
lst.pop(3)

4

In [105]:
lst

[1, 2, 3, 5]

In [106]:
### count():Calculates total occurrence of given element of List

In [107]:
lst=[1,1,1,2,2,3,4,5,5,6,78]

In [108]:
lst.count(2)

2

In [109]:
len(lst)

11

In [110]:
min(lst)

1

In [111]:
max(lst)

78

In [116]:
lst

[1, 1, 1, 2, 2, 3, 4, 5, 5, 6, 78]

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [127]:
a=set()
print(a)

set()

In [129]:
print(type(a))

<class 'set'>

In [130]:
set_var={1,2,3,4,5}

In [131]:
type(set_var)

set

In [132]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Hitman', 'Avengers', 'IronMan'}

set

In [133]:
## Inbuilt function in sets

set_var.add("Hulk")

In [134]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [147]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [144]:
set2.intersection_update(set1)

In [145]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [148]:
set2.difference(set1)

{'Hulk2'}

In [150]:
print(set2)

{'Hitman', 'Avengers', 'IronMan', 'Hulk2'}

In [152]:
set={11,1,1,1,111,1,111,111,11,1,1,1,11}

In [153]:
set

{1, 11, 111}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [154]:
dic={}

In [155]:
type(dic)

dict

In [156]:
x={1,2,3,4,5}

In [157]:
type(x)

set

In [158]:
my_dic={"Car1":'Audi',"Car2":'BMW'}

In [159]:
my_dic

{'Car1': 'Audi', 'Car2': 'BMW'}

In [160]:
my_dic['Car1']

'Audi'

In [162]:
for x in my_dic:
    print(x)

Car1
Car2

In [163]:
for x in my_dic.values():  # Printing values 
    print(x)

Audi
BMW

In [165]:
for x in my_dic.keys():  # Printing keys 
    print(x)

Car1
Car2

In [166]:
for x in my_dic.items():  # Printing items 
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')

In [167]:
## Adding items in Dictionaries
my_dic["Car3"]='Mercedes'

In [168]:
my_dic

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedes'}

In [169]:
a={'Audi':1970}
b={'BMW':1980}
c={'Ambasador':1990}

In [170]:
car_type={'car1':a,'car2':b,'car3':c}

In [171]:
car_type

{'car1': {'Audi': 1970}, 'car2': {'BMW': 1980}, 'car3': {'Ambasador': 1990}}

In [174]:
print(car_type['car1'])

{'Audi': 1970}

In [177]:
print(car_type['car1']['Audi'])

1970

In [178]:
## Tuples

In [180]:
my_typ=tuple()

In [181]:
my_typ

()

In [182]:
type(my_typ)

tuple

In [184]:
my_typ=("Rohith","Bangalore","India")

In [185]:
my_typ

('Rohith', 'Bangalore', 'India')

In [186]:
print(my_typ)

('Rohith', 'Bangalore', 'India')

In [187]:
print(type(my_typ))

<class 'tuple'>

In [188]:
my_typ.count('Rohith')

1

In [189]:
my_typ.count('1')

0

In [ ]:
## Numpy ##