# Python Data structures and Boolean

Boolean
Boolean and Logical Operator
Lists
Comprehension operators
Dictionaries
Tuples
Sets

In [1]:
#Boolean Variables : Boolean values are the two constant objects True and False.They are used to represent truth values
#In numeric they behave like integrers "0" and "1.The built-in function bool() can be used to cast any value to a Boolean,"
#The built-in function bool() can be used to cast any value to a Boolean.

In [3]:
bool()

False

In [5]:
print(True , False)

True False

In [6]:
type(True)

bool

In [7]:
my_str="Rohith123"

In [9]:
my_str.istitle()

True

In [19]:
print(my_str.isalnum())#check if all characters are numbers
print(my_str.isalpha())#check if all char in string are alphabets
print(my_str.isdigit())#to test if string contains digit
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('R'))#test if string ends with R
print(my_str.startswith('h'))#test if string starts with h

True
False
False
True
False
False
False
False
False

In [20]:
#Boolean and Logicaloperators

In [24]:
True and True

True

In [26]:
True and False

False

In [27]:
True or True

True

In [28]:
True or False

True

In [29]:
string="Rohith"
my_str="Bangalore"
string.isalpha() or my_str.isnum()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [30]:
type([])

list

In [34]:
lst_example=[]
type(lst_example)

list

In [35]:
lst=list()

In [36]:
type(lst)

list

In [37]:
lst=["Mathematics","Physics",100,200,300]

In [38]:
type(lst)

list

In [39]:
len(lst)

5

### Append

In [41]:
#append is used to add elements in the list
lst.append("Rohith")

In [42]:
lst

['Mathematics', 'Physics', 100, 200, 300, 'Rohith']

In [44]:
lst.append(["Amith","Sanfrancisco"])

In [45]:
lst

['Mathematics', 'Physics', 100, 200, 300, 'Rohith', ['Amith', 'Sanfrancisco']]

In [46]:
#Indexing in list
lst[4]

300

In [47]:
lst[6]

['Amith', 'Sanfrancisco']

### Insert

In [49]:
lst.insert(2,"Tableau")

In [50]:
lst

['Mathematics',
 'Physics',
 'Tableau',
 100,
 200,
 300,
 'Rohith',
 ['Amith', 'Sanfrancisco']]

In [53]:
lst.append(["Hello","world"])

In [54]:
lst

['Mathematics',
 'Physics',
 'Tableau',
 100,
 200,
 300,
 'Rohith',
 ['Amith', 'Sanfrancisco'],
 ['Hello', 'world']]

In [55]:
lst=[1,2,345,56,24]

In [56]:
lst.append([345,2345,24456])

In [57]:
lst

[1, 2, 345, 56, 24, [345, 2345, 24456]]

### Extend Method

In [59]:
lst=[1,2,3,4,5,6]

In [60]:
lst.extend([0,45,185])

In [61]:
lst

[1, 2, 3, 4, 5, 6, 0, 45, 185]

In [62]:
lst.sort()

In [63]:
lst

[0, 1, 2, 3, 4, 5, 6, 45, 185]

### Various Operations that we can perform in List

In [64]:
lst=[1,2,3]

In [65]:
sum(lst)

6

In [66]:
lst*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

### Pop() Method

In [67]:
lst=[0,1,2,3,45,6,7,78,8]

In [68]:
lst.pop()

8

In [69]:
lst

[0, 1, 2, 3, 45, 6, 7, 78]

In [70]:
lst.pop(4)

45

In [71]:
lst

[0, 1, 2, 3, 6, 7, 78]

### count():Calculates total occurrence of given element of List

In [74]:
lst=[1,1,1,1,2,2,2,3,4,5,5,6,7,6,5,4,3,4,56,7,54,32,34,2]

In [75]:
lst.count(2)

4

In [95]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [77]:
len(lst)

24

In [78]:
min(lst)

1

In [80]:
max(lst)

56

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [85]:
#Defining an empty set
set_var=set()

In [86]:
type(set_var)

set

In [87]:
set_var={"Iron man","Spider man"}

In [88]:
print(set_var)

{'Spider man', 'Iron man'}

In [89]:
type(set_var)

set

In [90]:
set_var.add("Hulk")

In [91]:
set_var

{'Hulk', 'Iron man', 'Spider man'}

In [92]:
set1={1,2,3,4,5}
set2={1,2,3,4,67,89,5} #Set doesnt support indexing

In [93]:
set2.intersection(set1)

{1, 2, 3, 4, 5}

In [94]:
type(set1)

set

In [96]:
#Difference
set2.difference(set1)

{67, 89}

In [97]:
print(set2)

{1, 2, 67, 3, 4, 5, 89}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [98]:
dic={}

In [99]:
type(dic)

dict

In [101]:
type(dict())

dict

In [102]:
#Lets create dictionary
my_dic={"Car1":"Hundai","Car2":"BMW","Car3":"Audi"}

In [103]:
print(my_dic)

{'Car1': 'Hundai', 'Car2': 'BMW', 'Car3': 'Audi'}

In [104]:
type(my_dic)

dict

In [105]:
my_dic["Car2"]

'BMW'

In [107]:
#using for loop through the dictionary keys

for x in my_dic:
    print (x)

Car1
Car2
Car3

In [108]:
# We can even loop throught the dictionaries values
for x in my_dic.values():
    print(x)

Hundai
BMW
Audi

In [109]:
# We can also check both keys and values
for x in my_dic.items():
    print(x)

('Car1', 'Hundai')
('Car2', 'BMW')
('Car3', 'Audi')

In [110]:
my_dic["Car4"]="Lamborghini"

In [111]:
my_dic

{'Car1': 'Hundai', 'Car2': 'BMW', 'Car3': 'Audi', 'Car4': 'Lamborghini'}

In [112]:
#Nested Dictionary

In [114]:
car1_model={"Hundai": 1998}
car2_model={"BMW":1933}
car3_model={"Audi":1970}

In [115]:
car_info={"car1":car1_model,"car2":car2_model,"car3":car3_model}

In [116]:
print(car_info)

{'car1': {'Hundai': 1998}, 'car2': {'BMW': 1933}, 'car3': {'Audi': 1970}}

In [117]:
print(car_info["car1"]) ## Accessing the items in the dictionary

{'Hundai': 1998}

### Tuples

In [118]:
#creating an empty tuple
a=tuple()

In [119]:
type(a)

tuple

In [121]:
my_tuple=("Rohith","MS","UK","2014")

In [122]:
print(my_tuple)

('Rohith', 'MS', 'UK', '2014')

In [123]:
type(my_tuple)

tuple

In [124]:
my_tuple.count("MS")

1

In [125]:
my_tuple.index("2014")

3