# Data Types in Python

## Data types

In [1]:
1+1

2

In [2]:
4*5

20

In [3]:
45*34

1530

In [4]:
20/2

10.0

In [5]:
20%2

0

In [6]:
20**2

400

In [7]:
10*'str'

'strstrstrstrstrstrstrstrstrstr'

In [9]:
##Check the data types

In [10]:
type(2)

int

In [11]:
type(223.4)

float

In [12]:
type("Rohith")

str

In [13]:
type(True)

bool

In [14]:
##Strings

In [15]:
"Hello Python"

'Hello Python'

In [16]:
"Rohith Neelagiriyappa"

'Rohith Neelagiriyappa'

In [17]:
type("Rohith Neelagiriyappa")

str

In [18]:
##Variable Assignment

In [19]:
a=56

In [20]:
type(a)

int

In [21]:
city="Bengaluru"

In [22]:
type(city)

str

In [23]:
##Mathematical Operations with variable assignments

In [24]:
a=100
b=200

In [25]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a+b))#This follows BODMAS Rule

300
-100
20000
0.5
100
20300

In [26]:
##Various ways of printing

In [27]:
print("Hello world")

Hello world

In [28]:
first_name="Rohith"
last_name="Neelagiriyappa"

In [29]:
print("My first name is {} and my last name is {}".format(first_name,last_name))

My first name is Rohith and my last name is Neelagiriyappa

In [30]:
print("My first name is {first} my last name is {last}".format(first=first_name,last=last_name))

My first name is Rohith my last name is Neelagiriyappa

In [31]:
print("My first name is {first} my last name is {last}".format(last=last_name,first=first_name))#Eventhough i change last and first position output remains same

My first name is Rohith my last name is Neelagiriyappa

In [32]:
len("Rohith")

6

In [35]:
type(['1',2,3,4,5])

list