## Dictionaries

- A dictionary in python is a collection of key-value pairs.Each key is connected to a value .
- A key's value can be a number ,string,list or even another dictionary
- In python dictionaries is wrapped in braces {}

In [1]:
a={'color':'green','points':5}

In [3]:
print(a['color'])

green

In [4]:
print(a['points'])

5

In [5]:
new_points=a['points']

In [6]:
print(f'You just earned {new_points} points.')

You just earned 5 points.

In [7]:
## Adding new key value pair

In [14]:
a['State']='Karnataka'

In [15]:
a

{'color': 'green', 'points': 5, 'State': 'Karnataka'}

In [18]:
a['City']='Bangalore'

In [19]:
a

{'color': 'green', 'points': 5, 'State': 'Karnataka', 'City': 'Bangalore'}

In [20]:
## Starting with empty dictionary

In [21]:
y={}

In [22]:
y['Name']='Rohith'
y['Education']='MS from UK'
y['University name']='University of York'

In [23]:
y

{'Name': 'Rohith',
 'Education': 'MS from UK',
 'University name': 'University of York'}

In [24]:
# Modifying values inn dictionaries

In [25]:
b={'color':'Green'}

In [26]:
b

{'color': 'Green'}

In [33]:
b['color']

'Green'

In [35]:
print(f"The color is {b['color']}.")

The color is Green.

In [38]:
b['color']='Black'

In [39]:
b

{'color': 'Black'}

In [40]:
print(f"The modified color is {b['color']}.")

The modified color is Black.

In [41]:
c={'city':'Pune','Number':5}

In [42]:
c

{'city': 'Pune', 'Number': 5}

In [43]:
del c['Number'] # Removing key value pair

In [44]:
c

{'city': 'Pune'}

In [45]:
c.get('city')

'Pune'

In [46]:
c.get('Number')

In [47]:
c

{'city': 'Pune'}

In [48]:
## Looping through dictionaries

In [49]:
details={'Name':'Rohith','City':'London','Work':'Data scientist'}

In [50]:
details

{'Name': 'Rohith', 'City': 'London', 'Work': 'Data scientist'}

In [52]:
for key,value in details.items():
    print(f"\n key:{key}")
    print(f"\n value:{value}")

 key:Name

 value:Rohith

 key:City

 value:London

 key:Work

 value:Data scientist

In [53]:
## Looping through all the keys in a dictionary

In [54]:
details

{'Name': 'Rohith', 'City': 'London', 'Work': 'Data scientist'}

In [55]:
for key in details.keys():
    print(key.title())

Name
City
Work

In [56]:
## Looping through all the values in a dictionary

In [58]:
for value in details.values():
    print(value.title())

Rohith
London
Data Scientist

In [59]:
## Nesting
# A list of dictionary

In [60]:
a={'color':'green','points':5}
b={'color':'yellow','points':6}
c={'color':'orange','points':7}

In [61]:
data=[a,b,c]

In [62]:
data

[{'color': 'green', 'points': 5},
 {'color': 'yellow', 'points': 6},
 {'color': 'orange', 'points': 7}]

In [64]:
for value in data:
    print(value)

{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 6}
{'color': 'orange', 'points': 7}

In [65]:
# A list in dictionary

In [66]:
pizza={
    'crust':'thick',
    'toppings':['mushrooms','extra cheese']
}

In [71]:
print(f"You ordered a pizza {pizza['crust']} crust pizza")
for topping in pizza['toppings']:
    print("\t"+topping)

You ordered a pizza thick crust pizza
	mushrooms
	extra cheese

In [ ]:
## A dictionary in a dictionary

In [75]:
users={
    'UK':{
        'City':'Cambridge',
        'University':'University of Cambridge',
        'College':'Kings college'
    },
    
    'USA':{
        
        'City':'NewYork',
        'University':'University of NewYork',
        'College':'Queens college'
    }
}

In [76]:
users

{'UK': {'City': 'Cambridge',
  'University': 'University of Cambridge',
  'College': 'Kings college'},
 'USA': {'City': 'NewYork',
  'University': 'University of NewYork',
  'College': 'Queens college'}}

In [77]:
for value in users.values():
    print(value)

{'City': 'Cambridge', 'University': 'University of Cambridge', 'College': 'Kings college'}
{'City': 'NewYork', 'University': 'University of NewYork', 'College': 'Queens college'}

In [78]:
for value in users.keys():
    print(value)

UK
USA

In [79]:
for key,value in users.items():
    print(f"\n key:{key}")
    print(f"\n value:{value}")

 key:UK

 value:{'City': 'Cambridge', 'University': 'University of Cambridge', 'College': 'Kings college'}

 key:USA

 value:{'City': 'NewYork', 'University': 'University of NewYork', 'College': 'Queens college'}