In [1]:
"hello Rohith"

'hello Rohith'

In [2]:
'This is also a string'

'This is also a string'

In [3]:
"String built with double quotes"

'String built with double quotes'

In [5]:
#We should be careful while giving double quotes
'I'm going to stay here  # Here we get error

SyntaxError: invalid syntax (<ipython-input-5-519650bf08ee>, line 2)

In [6]:
 "Now I'm going to write one poem for you" # Here we get error becaue we given proper quotes

"Now I'm going to write one poem for you"

In [8]:
# We can simply declare a string
"Hello world"

'Hello world'

In [9]:
# note that we can't output multiple strings this way
'Hello world 1'
'Hello world 2'

'Hello world 2'

In [11]:
print 'Hello world' # Here paranthesis is missing and we are getting error

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hello world' # Here paranthesis is missing and we are getting error)? (<ipython-input-11-8915258ade73>, line 1)

In [12]:
print("Hello world")

Hello world

In [13]:
# To use print function from Python 3 in Python 2
from __future__ import print_function

In [14]:
print("Hello world")

Hello world

In [15]:
len("Hello world")

11

In [16]:
name='Rohith'

In [18]:
# Show first element (in this case a letter)
name[0]

'R'

In [19]:
name[1]

'o'

In [20]:
name[4]

't'

In [21]:
# Grab everything past the first term all the way to the length of s which is len(s)
name[1:]

'ohith'

In [22]:
name

'Rohith'

In [23]:
# Grab everything UP TO the 3rd index
name[:3]

'Roh'

In [25]:
name[:] #Grab everything

'Rohith'

In [26]:
# Last letter (one index behind 0 so it loops back around)
name[-1]

'h'

In [28]:
name[:-1]# Grab everything except the last letter

'Rohit'

In [29]:
a="Hello world"

In [31]:
a[::-1] # We can use this to print a string backwards

'dlrow olleH'

In [32]:
# Grab everything, but go in steps size of 1
a[::1]

'Hello world'

In [33]:
# Grab everything, but go in step sizes of 2
a[::2]

'Hlowrd'

In [34]:
a='Hello world'

In [35]:
a[0]='R' #Immutability is one the finest string property which is created once and the elements
#within it cannot be changed or replaced. For example:

TypeError: 'str' object does not support item assignment

In [37]:
a +' concatiname_me!'

'Hello world concatiname_me!'

In [38]:
letter = 'z'

In [39]:
letter*10

'zzzzzzzzzz'

In [40]:
## Basic Built-in String methods

In [41]:
s="My country is India"

In [43]:
s.lower()# Lower case

'my country is india'

In [44]:
s.upper()# Upper Case a string

'MY COUNTRY IS INDIA'

In [45]:
s.split()# Split a string by blank space (this is the default)

['My', 'country', 'is', 'India']

In [46]:
# Split by a specific element (doesn't include the element that was split on)
s.split('t')

['My coun', 'ry is India']

In [47]:
## Print Formatting

In [48]:
print("My neighboring country is {}".format("Nepal"))

My neighboring country is Nepal

In [49]:
## Location and Counting

In [51]:
s.count('o')

1

In [52]:
s.find('o')

4

In [53]:
'hello\thi'.expandtabs()#expandtabs() will expand tab notations \t into spaces. Let's see an example to understand the concept.

'hello   hi'

In [54]:
s='hello'

In [56]:
s.isalnum()#isalnum() will return "True" if all characters in S are alphanumeric.

True

In [57]:
s.isalpha()#isalpha() wil return "True" if all characters in S are alphabetic.

True

In [58]:
s.islower() #islower() will return "True" if all cased characters in S are lowercase and there is
#at least one cased character in S, False otherwise.

True

In [59]:
s.isspace()#isspace() will return "True" if all characters in S are whitespace.

False

In [62]:
s.istitle()

False

In [63]:
#istitle() will return "True" if S is a title cased string and there is at least one character in S, 
#i.e. uppercase characters may only follow uncased characters 
#and lowercase characters only cased ones. Return False otherwise.

In [64]:
s.isupper()#isupper() will return "True" if all cased characters in S are uppercase and there is
#at least one cased character in S, False otherwise.

False

In [65]:
s.endswith('o')

True

## Built-in Reg. Expressions

In Strings, there are some built-in methods which is similar to regular expression operations.
•	Split() function is used to split the string at a certain element and return a list of the result.
•	Partition is used to return a tuple that includes the separator (the first occurrence), the first half and the end half.

In [66]:
s.split('e')

['h', 'llo']

In [67]:
s.partition('e')

('h', 'e', 'llo')

# Lists

Earlier, while discussing introduction to strings we have introduced the concept of a *sequence* in Python. In Python, Lists can be considered as the most general version of a "sequence". Unlike strings, they are mutable which means the elements inside a list can be changed!

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [1]:
my_list=[1,2,3] #defining lists

In [2]:
my_list=[1,2,3.0,'Rohith'] #lists can hold different kinds of objects

In [3]:
len(my_list)

4

### Indexing and Slicing
Indexing and slicing of lists works just like in Strings. Let's make a new list to remind ourselves of how this works:

In [4]:
a=[1,2,4.5,'Rohith','UK','MS','Data scientist']

In [5]:
a[0]# Grab element at index 0

1

In [6]:
a[5]# Grab element at index 5

'MS'

In [7]:
a[:5]# Grab everything UP TO index 5

[1, 2, 4.5, 'Rohith', 'UK']

In [8]:
a[1:]# Grab index 1 and everything past it

[2, 4.5, 'Rohith', 'UK', 'MS', 'Data scientist']

In [9]:
a+['Bangalore','BE','ECE']

[1, 2, 4.5, 'Rohith', 'UK', 'MS', 'Data scientist', 'Bangalore', 'BE', 'ECE']

In [10]:
a=a+['Add items permanently']

In [11]:
print(a)

[1, 2, 4.5, 'Rohith', 'UK', 'MS', 'Data scientist', 'Add items permanently']

In [12]:
a*2# Make the list double

[1,
 2,
 4.5,
 'Rohith',
 'UK',
 'MS',
 'Data scientist',
 'Add items permanently',
 1,
 2,
 4.5,
 'Rohith',
 'UK',
 'MS',
 'Data scientist',
 'Add items permanently']

In [13]:
a

[1, 2, 4.5, 'Rohith', 'UK', 'MS', 'Data scientist', 'Add items permanently']

In [14]:
list_new=[1,2,3]

In [15]:
list_new.append("Rohith") #Use the **append** method to permanently add an item to the end of a list:

In [16]:
list_new

[1, 2, 3, 'Rohith']

In [17]:
#Use **pop** to "pop off" an item from the list. 
#By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [18]:
list_new.pop(0)

1

In [19]:
list_new

[2, 3, 'Rohith']

In [20]:
list_new.pop()

'Rohith'

In [21]:
list_new

[2, 3]

In [22]:
#We can use the **sort** method and the **reverse** methods to also effect your lists:

In [25]:
new_list=['a','e','i','o','u']

In [26]:
new_list.reverse()# Use reverse to reverse order (this is permanent!)

In [27]:
new_list

['u', 'o', 'i', 'e', 'a']

In [28]:
new_list.sort()# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)

In [29]:
new_list

['a', 'e', 'i', 'o', 'u']

## Nesting Lists

Nesting Lists is one of the great features in Python data structures. Nesting Lists means we can have data structures within data structures. 

For example: A list inside a list.

Let's see how Nesting lists works!

In [30]:
# Let's make three lists
list1=[1,2,3]
list2=[4,5,6]
list3=[7,8,9]

In [33]:
matrix=[list1,list2,list3]# Make a list of lists to form a matrix

In [34]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [35]:
matrix[2][1]

8

We can re-use indexing to grab elements, but now there are two levels for the index. 

a. The items in the matrix object
b. The items inside the list

In [36]:
matrix[0]# Grab first item in matrix object

[1, 2, 3]

In [38]:
matrix[0][0]# Grab first item of the first item in the matrix object

1

# List Comprehensions

Python has an advanced feature called list comprehensions which allows for quick construction of lists. 

Before we try to understand list comprehensions completely we need to understand "for" loops. 

So don't worry if you don't completely understand this section, and feel free to just skip it since we will return to this topic later.

Here are few of oue examples which helps you to understand list comprehensions.

In [39]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [42]:
first_col=[row[0] for row in matrix] # Build a list comprehension by deconstructing a for loop within a []

In [43]:
first_col

[1, 4, 7]

In [44]:
l=[1,2,3,4]

In [45]:
l.append(5)

In [46]:
l

[1, 2, 3, 4, 5]

In [48]:
list1=[1,2,3,4,4,3,2,1,3,44,2,55,2,14125,2,4,2,513,42,2,4,4,4,32,2,32,2]

## count
We discussed this during the methods lectures, but here it is again. count() takes in an element and returns the number of times it occures in your list:

In [49]:
list1.count(0)

0

In [50]:
list1.count(2)

9

## extend
Many times people find the difference between extend and append to be unclear. So note that,

**append: Appends object at end**

In [51]:
list2=[1,2,3]

In [52]:
list2.append([2,4,6])

In [53]:
list2

[1, 2, 3, [2, 4, 6]]

In [60]:
z=[1,5,9,2]

In [61]:
z.extend('ty')#**extend: extends list by appending elements from the iterable**

In [62]:
z

[1, 5, 9, 2, 't', 'y']

## index

index returns the element placed as an argument. Make a note that if the element is not in the list then it returns an error.

In [63]:
l = [1,2,3]

In [66]:
l.index(3)

2

## insert 

Two arguments can be placed in insert method. 

Syntax: insert(index,object) 

This method places the object at the index supplied. For example:

In [67]:
l=[1,2,3]

In [69]:
l.insert(3,11)

In [70]:
l

[1, 2, 3, 11]

In [77]:
##  pop(), which allows us to "pop" off the last element of a list. 
ele=[1,2,3,4,8]

In [78]:
ele.pop()

8

In [79]:
ele

[1, 2, 3, 4]

## remove
The remove() method removes the first occurrence of a value. For example:

In [80]:
zen=[1,3,4,5]

In [82]:
zen.remove(5)

In [83]:
zen

[1, 3, 4]

In [85]:
r=[1,2,3,4,3,56,7,8,9,90,12]

In [86]:
r.reverse()

In [87]:
r

[12, 90, 9, 8, 7, 56, 3, 4, 3, 2, 1]

In [88]:
r.sort()

In [89]:
r

[1, 2, 3, 3, 4, 7, 8, 9, 12, 56, 90]

In [90]:
u=[1,2,3,4,5,6,7,8,9]

In [91]:
u.sort()

In [92]:
u

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
u=[9,8,6,4,2,4,6,8,9,3,2,5,7,9,9,4,2,3,5]

In [94]:
u.sort()

In [95]:
u

[2, 2, 2, 3, 3, 4, 4, 4, 5, 5, 6, 6, 7, 8, 8, 9, 9, 9, 9]